
.our-team h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 10px;
}
/*
.our-team h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
*/
.col-center {
	margin: 0 auto;
	float: none !important;
}
 .carousel {
	margin-top: 20px;

}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {
	font-style: italic;

}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .testimonial b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 2px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}



/* Service*/

.single-service-two {
    padding: 30px 20px 10px 100px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    /* border-color: #000 !important; */
}

.service-icon-two {
    border-right: 1px solid #ddd;
    color: #f39c12;
    font-size: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 80px;
}

.single-service-two:hover {
    background: #f39c12 none repeat scroll 0 0;
    color: #fff;
}

.single-service-two:hover .service-icon-two,
.single-service-two:hover h4 {
    color: inherit;
}

.social-bookmark1 li {
    display: inline;
}

.social-bookmark1 li a {
    background: #009051 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    margin: 0 2px;
    padding-top: 9px;
    text-align: center;
    width: 40px;
}

.social-bookmark1 li a:hover {
    background: #fff none repeat scroll 0 0;
    color: #009051;
}
.social-bookmark1 ul{

  padding-left: 0px;
}
.single-service-two .btn{
  border: solid 1px #f39c12;
  color: #f39c12;
  background-color: #fff !important;
  align-items: center;
}
.single-service-two .btndiv{
  text-align: center;
}

.single-service-two h4{
  text-align: center;
}
